{% extends 'baseAdmin.html.twig' %}

{% block title %}Relaxeo - Créer un événement{% endblock %}


{% block body %}
     <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Créer un événement</h1>
    </div>  
   
    {{ form_start(form) }}
    {{ form_row(form._token) }}
     <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
           {{form_row(form.subject,{'label':'Objet ','attr':{'class':'form-control form-control-user'}})}}
        </div>
        <div class="col-sm-6">
            {{form_row(form.place,{'label':'Emplacement','attr':{'class':'form-control form-control-user'}})}}    
        </div>
     </div>
     <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            {{form_row(form.scheduledAt,{'label':'Début','attr':{'class':'form-control form-control-user'}})}}
        </div>
        <div class="col-sm-6">
           {{form_row(form.finishedAt,{'label':'Fin','attr':{'class':'form-control form-control-user'}})}}
        </div>
     </div>
     <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            {{form_row(form.comment,{'label':'Commentaire','attr':{'class':'form-control form-control-user'}})}} 
        </div>
        <div class="col-sm-6">
            {{form_row(form.private,{'label':'Cacher cet événement aux autres utilisateurs ? '})}}  
        </div>
     </div>
    <div class="form-group row">
       <div class="col-sm-6 mb-3 mb-sm-0" id="div_products">

       </div>
    </div>
     <div class="form-group row">               
        <div class="col-sm-4 mb-3 mb-sm-0">
            {{form_row(form.submit_post,{'label':'Enregistrer l\'événement','attr':{'class':'btn btn-success'}})}} 
          
        </div>
    </div>
   
    
{% endblock %}

{% block javascripts %} 
    <script>
    var defaultScheduledAt = new Date().toISOString().substring(0,11)+"14:00";
    var defaultFinishedAt = new Date().toISOString().substring(0,11)+"17:00";

    document.getElementById('event_scheduledAt').value = defaultScheduledAt;
    document.getElementById('event_finishedAt').value = defaultFinishedAt;
 
   </script>
{% endblock %}