<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <!-- shrink-to-fit=no" corrige un problème sous iOS 9 -->     
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
        

        <title>{% block title %}{% endblock %}</title>
        <!-- Custom fonts for this template-->
        <link href="{{ asset('bootstrap/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('bootstrap/css/sb-admin-2.min.css') }}">
        {% block stylesheets %}{% endblock %}
       
        
    </head>
    <body id="page-top">
                <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="navbar-nav sidebar bg-success sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">                
                <div class="sidebar-brand-text mx-s">Espace<br />{{ app.session.get('structure').name }}</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">
             
             <!-- Nav Item -->
            <li class="nav-item">
                <a class="nav-link" href="{{path('planning')}}">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <span>Planning / Inscriptions</span></a>
            </li>         
             {% if app.session.get('structure').name != "RIVP" %}
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item -->
            <li class="nav-item">
                <a class="nav-link" href="{{path('purchase')}}">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
               
                    <span>Achat de crédits</span></a>
               
            </li>
             {% endif %}
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

             <!-- Nav Item -->
            <li class="nav-item">
                <a class="nav-link" href="{{path('history')}}">
                <i class="fas fa-history"></i>
                <span>Historique</span></a>
            </li>

            

             <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item -->
            <li class="nav-item">
                <a class="nav-link" href="{{path('contact')}}">
                <i class="fa fa-at" aria-hidden="true"></i>
                <span>Contacter notre équipe</span></a>
            </li>
                   
             <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

             <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
            </ul>
            
          
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">                   
           
                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>               
                  <img src="{{asset('img/logo3.png')}}" alt="logo" height="70%;" />
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">               
                 
                    <!-- Nav Item - Alerts -->
                    <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="markNotifAsView();">
                        <i class="fas fa-bell fa-fw"></i>
                        <!-- Counter - Alerts -->
                         {% if app.session.get('newNotifications')!=0 %}
                            <span class="badge badge-danger badge-counter" id="badge-counter">                       
                        {{app.session.get('newNotifications')}}                      
                        +</span>
                        {% endif %}
                    </a>
                    <!-- Dropdown - Alerts -->
                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                        <h6 class="dropdown-header">
                        Notifications
                        </h6>
                        {% if app.session.get('notifications') is defined %}
                            {% for notification in app.session.get('notifications')|slice(0,5) %}
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-primary">
                                    <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">{{notification.createdAt|date('d/m/Y H:i')}}</div>
                                    <span class="font-weight-bold">{{notification.content}}</span>
                                </div>
                                </a>
                            {% endfor %}
                        {% endif %}                       
                        <a class="dropdown-item text-center small text-gray-500" href="{{path('notifications')}}">Montrer toutes les notifications</a>
                    </div>
                    </li>                   

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{app.user.firstname}} {{app.user.lastname}}</span>
                        <div style="font-size:30px;"><i class="fa fa-user-circle" aria-hidden="true"></i></div>
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="{{path('profile')}}">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Profil
                        </a>
                        <a class="dropdown-item" href="{{path('preferences')}}">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                        Préférences
                        </a>                        
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Déconnexion
                        </a>
                    </div>
                    </li>

                </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">                   
                    {% for message in app.flashes('notice') %}
                    <div class="alert-success p-2">
                        {{ message }}
                     </div>
                    {% endfor %} 
                    {% block body %}{% endblock %}

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                <div class="copyright text-center my-auto">
                   <a href="{{path('mentions')}}">Mentions légales</a> - <span>Copyright &copy; Fit & Relax 2020</span>
                </div>
                </div>
            </footer>
            <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Vous souhaitez vous déconnecter ?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                </div>
                <div class="modal-body">Cliquez sur "Quitter" si vous souhaitez mettre un terme à votre session. 
                Pour revenir sur votre espace, vous devrez à nouveau saisir vos identifiants.</div>
                <div class="modal-footer">
                <button class="btn btn-success" type="button" data-dismiss="modal">Annuler</button>
                <a class="btn btn-primary" href="{{ path('security_logout') }}">Quitter</a>
                </div>
            </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
         <script src="{{ asset('bootstrap/vendor/jquery/jquery.min.js')}}"></script>
        <script src="{{ asset('bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

        <!-- Core plugin JavaScript-->
        <script src="{{ asset('bootstrap/vendor/jquery-easing/jquery.easing.min.js')}}"></script>

        <!-- Custom scripts for all pages-->
        <script src="{{ asset('bootstrap/js/sb-admin-2.min.js')}}"></script>
        <script src="{{ asset('notifications/notifications.js')}}"></script>     
        <script>
            if (screen.width<=1024){
                document.getElementById('accordionSidebar').setAttribute("class","navbar-nav sidebar bg-success sidebar-dark accordion toggled");
                
                }            
        </script>
                {% block javascripts %}{% endblock %}
    </body>
</html>
