{% extends 'baseCoach.html.twig' %}

{% block title %}Relaxeo - Planning{% endblock %}
{% block stylesheets %}
     <link href="{{asset('bootstrap/vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet">
     <link href="{{asset('css/calendar_admin.css')}}" rel="stylesheet"> 
     
{% endblock %}

{% block body %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Planning</h1>
    </div>              
  
    <div id="calendar"></div>  


{% endblock %}
{% block javascripts %} 
         <!-- Page level plugins -->
        <script src="{{ asset('bootstrap/vendor/datatables/jquery.dataTables.min.js')}}"></script>
        <script src="{{ asset('bootstrap/vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>
        
        <script>         
             var ssessionsList = [];
            
            {% for ssession in ssessions %}
                var oneSsession = {};
                oneSsession["id"] = "{{ssession.id}}";
                oneSsession["activity"] = "{{ssession.activity.name}}";
                oneSsession["activityColor"] = "{{ssession.activity.color}}";              
                oneSsession["structure"] = "{{ssession.structure.name}}";
                oneSsession["scheduledAt"] = "{{ssession.scheduledAt|date("m/d/Y")}}";
                oneSsession["finishedAt"] = "{{ssession.finishedAt|date("m/d/Y")}}";
                oneSsession["timeS"] = "{{ssession.scheduledAt|date("H:i")}}";
                oneSsession["timeF"] = "{{ssession.finishedAt|date("H:i")}}";
                oneSsession["participationMax"] = "{{ssession.participationMax}}";        
                oneSsession["nbParticipations"] = "{{nbParticipations[ssession.id]}}";            
                oneSsession["subtitle"] = "{{ssession.subtitle}}";
                
                ssessionsList.push(oneSsession);               
            {% endfor %} 

                 ssessionsList.sort(function(a,b){
                if (a.timeS>b.timeS)
                    return 1;
                else if (a.timeS<b.timeS)
                    return -1;
                else
                    return 0;
            });
           
       </script>
        <!-- Calendar -->
        <script src="{{ asset('calendar/data_coach.js') }}"></script>
        <script src="{{ asset('calendar/calendar.js') }}"></script>
        
{% endblock %}      

